# 2. Strings
---

*Strings are collection of characters.*

## Index

*Each characters in a string have an associated number with it, the number identifies location of that character from start position of the string.*

*Indexes start from __0__, that means first character of a string has location __0__ and so on.*

| K   | a   | t   | h   | m   | a   | n   | d   | u   | -   | 4   | ,  |    | B  | a  | g  | m  | a  | t  | i  |
|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|----|----|----|----|----|----|----|----|----|
| 0   | 1   | 2   | 3   | 4   | 5   | 6   | 7   | 8   | 9   | 10  | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 |
| -20 | -19 | -18 | -17 | -16 | -15 | -14 | -13 | -12 | -11 | -10 | -9 | -8 | -7 | -6 | -5 | -4 | -3 | -2 | -1 |

In [1]:
address = 'Kathmandu-4, Bagmati'

In [2]:
len(address)

20

*Above: Get length of given string.*

In [3]:
address[0]

'K'

*We get __1st__ item i.e identified by index __0__, using __[0]__*

*__[]__ means get from index, identified as number*

In [4]:
address[1]

'a'

In [5]:
address[13]

'B'

In [6]:
address[20]

IndexError: string index out of range

*Python also have negative index.*

*negative index is counted backward, -1 is last character in string*

In [7]:
# get last item
address[-1]

'i'

*Above: is same as writing, as below*

In [8]:
address[len(address) - 1]

'i'

*__-1__ is just a shortcut to __len(address) - 1__*

In [9]:
# get 7th item from last
address[-7]

'B'

In [10]:
address[-20]

'K'

In [ ]:
ord('a')
chr(91)
ord('рди')

# Slicing
---

**Get chunck of a string**

In [11]:
# get all from 0th item to last item
address[:]

'Kathmandu-4, Bagmati'

In [12]:
# get from index 2 to last item
address[2:]

'thmandu-4, Bagmati'

In [13]:
# get from index 0 to index 4 [ 5 is excluded ]
# can be called as 0 upto 5
address[:5]

'Kathm'

*start of slice is inclusive and end of slice is exclusive*

In [14]:
address[3:7]

'hman'

*step defines which item to get after getting first item*

In [15]:
address[3:15]

'hmandu-4, Ba'

In [16]:
address[3:15:1]

'hmandu-4, Ba'

*default value of step is 1*

In [17]:
address[3:15:2]

'had-,B'

*empty end with step value is defined as*

In [18]:
address[3::2]

'had-,Bgai'

In [19]:
address[::2]

'Ktmnu4 amt'

In [20]:
address

'Kathmandu-4, Bagmati'

In [21]:
# start as negative and end as positive value
address[-3:7]

''

*negative step moves window from right to left*

In [22]:
address[-3:7:-1]

'amgaB ,4-u'

In [23]:
address[-15:-7]

'andu-4, '

In [24]:
address[::-1]

'itamgaB ,4-udnamhtaK'

# Formatting
---

## Old Way

In [1]:
# strings
'Hello %s' % ('World!',)

'Hello World!'

In [2]:
# numbers
'The number is: %d' % 5

'The number is: 5'

In [3]:
# float
'Total Amount: %f' % 2.789654

'Total Amount: 2.789654'

In [4]:
# floating point with 2 decimal places
'Total Amount: %.2f' % 2.789654

'Total Amount: 2.79'

## New Way

In [5]:
# {} is replaced by formatting
'Hello to string {}'.format('formatting')

'Hello to string formatting'

*{} are called placeholders,*

In [6]:
# first argument to format method get to replace the first {} and so on
'This is {} argument and this the {}'.format('first', 'second')

'This is first argument and this the second'

In [7]:
# or we can use index for arguments passed to format method
'The {1} and come at {0} position using index like {2} and {3}'.format('first', 'second', 0, 1)

'The second and come at first position using index like 0 and 1'

In [8]:
# or keyword argument like this
'Or we can use {what} argument'.format(what='keyword')

'Or we can use keyword argument'

In [9]:
# this is useful
details = {
    'username': 'hitler47',
    'firstname': 'Adolf',
    'lastname': 'Hitler',
    'email': 'you@us.my',
    'password': 'my_super_secret_password'
}


"""Hello {username},

Thank you for registering in our site.
Here are your details:

Firstname: {firstname}
Lastname: {lastname}
Email: {email}
Username: {username}
Password: {password}

Please, don't blame us if you show this email to other people and got hacked ;)

Best,
Some WebApp
""".format(**details)

"Hello hitler47,\n\nThank you for registering in our site.\nHere are your details:\n\nFirstname: Adolf\nLastname: Hitler\nEmail: you@us.my\nUsername: hitler47\nPassword: my_super_secret_password\n\nPlease, don't blame us if you show this email to other people and got hacked ;)\n\nBest,\nSome WebApp\n"

**Note:** `**details` *just unpacks the dictionary into key=value pair*

In [10]:
# with a list or tuple like this
'The first value of {} is {lst[0]}'.format('lst', lst=[8, 7, 5])

'The first value of lst is 8'

### Fun kinds

In [11]:
'Galaxy far far {:<90}'.format('away!')

'Galaxy far far away!                                                                                     '

In [12]:
'I am {:>90}'.format('right')

'I am                                                                                      right'

In [13]:
'{:^40}'.format('Justified')

'               Justified                '

In [14]:
'{:*^40}'.format('Welcome')

'****************Welcome*****************'

In [15]:
# a float
'{0:f}'.format(4.56789)

'4.567890'

In [16]:
# a float with sign
'{0:+f}'.format(4.56789)

'+4.567890'

In [17]:
# a float with sign
'{0:+f}'.format(-4.56789)

'-4.567890'

In [18]:
# a float with rounded decimal places
'{0:.2f}'.format(4.56789)

'4.57'

In [19]:
# large number with comman separator
'{:,}'.format(4568921003456)

'4,568,921,003,456'

In [20]:
# octal
'{:o}'.format(42)

'52'

In [21]:
# hex
'{:x}'.format(42)

'2a'

In [22]:
# hex with prefix
'{:#x}'.format(42)

'0x2a'

In [23]:
# octal with prefix
'{:#o}'.format(42)

'0o52'

In [24]:
from datetime import datetime

In [25]:
# date formatting
'{:%Y-%m-%d}'.format(datetime.now())

'2016-06-14'