# Loops and Conditionals
---

## Loops


- for
- while

**looping through list**

*lets create a list*

In [1]:
lst = [1, 3, 4]

In [2]:
for item in lst:
    print(item)

1
3
4

*for each `item` in list `lst` print that `item`*

In [3]:
# variable inside for loop holds value after loop has been completed
item

4

*looping through tuple*

In [4]:
for item in (1, 3, 4):
    print(item)

1
3
4

*looping through dictionary - by keys*

In [5]:
dct = {'name': 'Harry', 'age': 42, 'profession': 'Foreman', 'address': ('12th Street', 'CA')}

In [6]:
for item in dct:
    print(item)

address
age
name
profession

*here items printed are keys of dictionary*

*If we loop through a dictionary we get keys*

In [7]:
# get all the keys
dct.keys()

dict_keys(['address', 'age', 'name', 'profession'])

In [8]:
# looping through list of keys of the dictionary
for item in dct.keys():
    print(item)

address
age
name
profession

In [9]:
# now obtain value from keys of a dictionary
for key in dct:
    print(dct[key])

('12th Street', 'CA')
42
Harry
Foreman

*looping by value*

In [10]:
# get list of values of the dictionary
dct.values()

dict_values([('12th Street', 'CA'), 42, 'Harry', 'Foreman'])

In [11]:
# get all the values of dictionary from list of values
for item in dct.values():
    print(item)

('12th Street', 'CA')
42
Harry
Foreman

In [12]:
# we can access dictionary values using dictionary[key] see: session3a
# for format string see: session 2
for item in dct:
    print("'{}' has value '{}'".format(item, dct[item]))

'address' has value '('12th Street', 'CA')'
'age' has value '42'
'name' has value 'Harry'
'profession' has value 'Foreman'

### tuple unpacking, variable assignment

In [13]:
# create variables a1 and b1 and assign values to them
a1 = 5
b1 = 8
print(a1, b1)

5 8

In [14]:
# variable assignment can be done in single line as
a1, b1 = 9, 6
print(a1, b1)

9 6

*In above `a1` is assigned `9` and `b1` is assigned `6`*

In [15]:
a, b = (0, 1)

In [16]:
a

0

In [17]:
b

1

*a1, b1 = (0, 1) is same as a1, b1 = 0, 1*

since (0, 1) is a tuple and it is unpacked ( taken out of tuple ), this process is called unpacking

In [18]:
# both sides should be equal
a, b, c = 0, 9

ValueError: not enough values to unpack (expected 3, got 2)

In [19]:
# both sides should be equal
a, b, c = 9, 8, 7, 8

ValueError: too many values to unpack (expected 3)

In [20]:
(a, b, c) = (88, 99, 77)

In [21]:
print(a, b, c)

88 99 77

In [22]:
# get items of a dictionary
dct.items()

dict_items([('address', ('12th Street', 'CA')), ('age', 42), ('name', 'Harry'), ('profession', 'Foreman')])

In [23]:
for item in dct.items():
    print(item)

('address', ('12th Street', 'CA'))
('age', 42)
('name', 'Harry')
('profession', 'Foreman')

In [24]:
for item in dct.items():
    key, value = item # ('profession', 'Foreman')
    print("Key {} with value {}".format(key, value))

Key address with value ('12th Street', 'CA')
Key age with value 42
Key name with value Harry
Key profession with value Foreman

In [25]:
for key, value in dct.items():
    print("key {} has value {}".format(key, value))

key address has value ('12th Street', 'CA')
key age has value 42
key name has value Harry
key profession has value Foreman

### Ranges

*create a range object starting from 0 and up to 9, (remember 9 is excluded)*

In [26]:
range(0, 9)

range(0, 9)

In [27]:
# range from 0 to 9 (excluding 9)
list(range(0, 9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
for i in range(0, 9):
    print(i)

0
1
2
3
4
5
6
7
8

In [29]:
# 0 to 9 (excluding) with step 2
for i in range(0, 9, 2):
    print(i)

0
2
4
6
8

In [30]:
list(range(1, 9, 2))

[1, 3, 5, 7]

#### while loop

In [31]:
a = a + 1

In [32]:
a

89

**There is no ++/-- operator in python**

In [33]:
# it is shorthand for a = a + 1
a += 1

*shorthands*

```python

a = a - 1
# same as
a -= 1

b = b * 3
# same as
b *= 3

c = c / 4
# same as
c /= 4
```

In [34]:
a = 0
while a < 3:
    print(a)
    a += 1

0
1
2

## Conditionals

*empty list, tuple, dictionary are false*

In [35]:
[] == True

False

In [38]:
bool([])

False

*same is true for empty string and 0*

In [36]:
'' == True

False

In [39]:
bool('')

False

*'' is empty string but not ' ', which has space in it*

In [41]:
bool(' ')

True

In [37]:
0 == True

False

In [40]:
bool(0)

False

*check if a is present in string *

In [42]:
'a' in 'abc'

True

*check if number is present in list*

In [43]:
5 in list(range(0, 5))

False

In [44]:
5 in list(range(0, 6))

True

In [45]:
list(range(0, 6))

[0, 1, 2, 3, 4, 5]

**if/elif/else**

In [46]:
# empty space is not same as empty string
if ' ':
    print('If')

If

In [47]:
ord(' ')

32

In [48]:
if '' == True:
    print('Some string')
else:
    print('empty string')

empty string

*Note: Above code is for example, should follow code like below*

```python

if '':
    print('Some string')
else:
    print('empty string')
```

In [49]:
a

3

*Note: a is already assigned above in while loop*

In [50]:
if a < 3:
    print('a is less than 3')
elif a == 3:
    print('a is equals to 3')
else:
    print('a is greater than 3')

a is equals to 3

*Note: This is way of doing switch/case in python*

**logical operators**

In [51]:
a < 3 and a == 3

False

*Note: there is no && or || operator in python*

In [52]:
a < 3 or a == 3

True

*Note: while there is & and | operators, which are bitwise operators*

In [53]:
a <= 3

True

In [54]:
a >= 3

True

In [55]:
a

3

*a is greaterthan or equals to 3 AND less than 9*

In [56]:
3 <= a < 9

True

**Negation operators**

In [67]:
# a is not equal to 4
a != 4

True

In [69]:
not True

False

In [70]:
not False

True

In [71]:
not (3 <= a < 9)

True

In [68]:
# not boolean
if not []:
    print("List is empty")

List is empty

**Break and Continue**

In [57]:
a = 0
while a < 9:
    print(a)
    if a == 3:
        break
    a += 1

0
1
2
3

*always breaks nearest parent loop*

In [58]:
a = 0
while a < 9:
    a += 1
    if 4 < a < 6:
        continue
    print(a)

1
2
3
4
6
7
8
9

*continue the loop but skip the remaining lines, above print function is skipped when a is 5*

**Conditional assignment**

*value_of is assigned __aa__ if __aa__ is less than __3__, otherwise it is assigned __False__*

In [59]:
aa = 4

In [65]:
value_of = aa * 3 if aa > 3 else False

In [66]:
value_of

12