# Session 1 - Reference
---

*Comments are ignored by Python Interpreter *

In [1]:
# this is comment

In [2]:
# this is 
# multiline comment

In [3]:
# -*- coding: utf-8 -*-

# Datatypes
---

- Integer
- Float
- Boolean
- None ( not exactly a type )
- Complex
- String
- Bytes

## Integers
---

In [4]:
12

12

In [5]:
-72

-72

*Integers are Negative numbers and whole numbers such as -1, -2 ... or 0 or 1, 2 ...*

## Floats
---

In [6]:
1.5

1.5

In [7]:
0.9

0.9

In [8]:
-.8

-0.8

*Floats are decimal numbers, or in mathematical terms they are Rational/Irrational numbers*

## Boolean
---

In [9]:
True

True

In [10]:
False

False

*Denotes a expression to be either true or false*

## None
---

In [11]:
None

*Defines emptiness or non existence of value*

## Complex Number
---

see definition of complex number [here](https://en.wikipedia.org/wiki/Complex_number)

In [12]:
1 + 3j

(1+3j)

$1 + i3$

- 1 is real part
- 3 is imaginary part

## String
---

In [13]:
'a'

'a'

*__'a'__ is called __char__ in programming term, in Python it is string with length 1.*

In [14]:
'this is string'

'this is string'

In [15]:
"this is also string"

'this is also string'

*Either single quoted '' or doubled quoted "", there is not real difference between them*

In [17]:
"this is 
also string"

SyntaxError: EOL while scanning string literal (<ipython-input-17-48ec24dbb974>, line 1)

*__Note__: single/doubled quoted strings must written in single line, ie newline is not allowed*

### Tripple quoted string

In [18]:
""" This is new string
with new line that 
    preserves spaces
"""

' This is new string\nwith new line that \n    preserves spaces\n'

In [19]:
''' This is same as above, 
only use of type of quote
differs'''

' This is same as above, \nonly use of type of quote\ndiffers'

*While triple quoted ''' or """, preserves newlines and spaces.*

### Unicode string

In [20]:
'नेपालि'

'नेपालि'

*Unicode is builtin to Python 3 Strings.*

*Strings are sequence of unicodes.*

## Bytes
---

In [21]:
b'This is byte string'

b'This is byte string'

*Bytes are sequence of bytes ie number from 0 to 255*

## Builtin Functions
---

Builtin functions are those given by python, which gives us certain information or does some tasks.

functions are generally **names** with opening and closing parenthesis **()**.

between parenthesis we pass in some value,

### print

In [22]:
print("Hello world")

Hello world

In [23]:
print(2)

2

In [24]:
print(5 ** 4)

625

*__print()__ function prints/displays anything into screen.*

*Note: while anything that is last on notebook cell (like this) are displayed directly, which is not the case in application run in command prompt or terminal.*

### input

In [25]:
input("Enter a number:")

Enter a number:12

'12'

In [26]:
inp = input("Enter your name: ")

Enter your name: 12

In [27]:
inp

'12'

*__input()__ is exact opposite of __print__, in that it takes data from user*

*Note: notice we used __inp__ name to store data obtain from input.*

*Note: the data obtain from user is always string type.*

### type

In [28]:
type(1)

int

In [29]:
type(2.5)

float

In [30]:
type('Nepal')

str

In [31]:
type(2 + 3j)

complex

In [32]:
type(b'This is what?')

bytes

*__type()__ functions returns/gives, what is datatype of given data/object.*

### len

In [33]:
len('This is some string')

19

In [34]:
len(b'This')

4

In [35]:
len('नेपाली')

6

*__len()__ functions returns/gives the length of given string or bytes*

*It doesn't work on other datatypes above*

### help

In [36]:
help(dir)

Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

*__help()__ shows help text for given data/functions*

### ord

In [37]:
ord('a')

97

In [38]:
ord('क')

2325

*Each character is associated with a specific/unique number.*

*__ord()__ returns/gives the associated number for given character.*

### chr

In [39]:
chr(2326)

'ख'

In [40]:
chr(98)

'b'

*__chr()__ is opposite of __ord()__, that it returns/gives character for given number.*

## Type Casting
---

Changing from one type to another is called type casting

### int

In [41]:
int(1.2)

1

In [42]:
int('4')

4

In [43]:
int(True)

1

*We can change, a float, a boolean or a string into integer using __int()__ function*

In [46]:
int(2 + 3j)

TypeError: can't convert complex to int

*We cannot change a complex number to a integer*

In [47]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

*While we must remember only numbers represented as string can be converted to integer*

### float

In [48]:
float(1)

1.0

In [49]:
float('5.5')

5.5

In [50]:
float(False)

0.0

In [51]:
float('p')

ValueError: could not convert string to float: 'p'

In [52]:
float(3 + 7j)

TypeError: can't convert complex to float

*Similar to __int()__, __float()__ functions changes a integer, string or boolean to a float*

### str

In [53]:
str(1)

'1'

In [54]:
str(4.5)

'4.5'

In [55]:
str(True)

'True'

In [56]:
str(5 + 9j)

'(5+9j)'

*__str()__ function converts all other types to string.*

### complex

In [57]:
complex(1)

(1+0j)

In [58]:
complex(4.5)

(4.5+0j)

In [59]:
complex('4')

(4+0j)

In [60]:
complex(True)

(1+0j)

In [61]:
complex('p')

ValueError: complex() arg is a malformed string

*__complex()__ function converts other datatypes to complex number.*

*__Note:__ Remember the difference between string number and string character.*

## Names/Variables
---

We give _name_ to data, so that they can be identified later on. Such names are also known as _variables_.

In [62]:
pi = 3.1415

*Much like above names must be meaningful* 

*for example, if we need to use $\pi$ later on we can just use __pi__ instead of using __3.1415__ each time.*

There is a rule for defining a _variable_ name or just _name_ ( which we will call from now on. )

- It must start with either a _character_ or a _underscore_ 
- while it can have a _character_, a _underscore_ or a _number_ after that

In [63]:
a = 1
_ = 5
a1 = 6

*valid names*

In [64]:
2bc = 77

SyntaxError: invalid syntax (<ipython-input-64-19d512103f15>, line 1)

*Invalid name*

## Methods and Attributes
---

There are two kinds, that are attached to a datatypes

- Attributes are properties
- Methods are functions

These are attached using a _dot_ "__.__" notation.

- Attributes don't end with parenthesis __()__.
- While methods end with parenthesis __()__ just like functions.

### dir

In [65]:
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

*__dir()__ functions returns/gives list of available attributes and/or methods for given data/type.*

In [66]:
height = 8848

*__height__ is given name for __8848__*

In [67]:
height.real

8848

In [68]:
height.imag

0

*Above are attributes for integer i.e __height__*

In [69]:
cmplx = 7 + 5j

In [70]:
cmplx.real

7.0

In [71]:
cmplx.imag

5.0

In [72]:
cmplx.conjugate()

(7-5j)

*conjugate is __method__ associated with a complex number*

*__Note:__ Remember the __dot__ it follows.*

In [73]:
ae = 'é'.encode()

In [74]:
ae

b'\xc3\xa9'

*__encode()__ is methods associated with a __string__, which converted string to a __byte__.*

In [75]:
'Abc'.lower()

'abc'

In [76]:
'ABCDFR'.lower()

'abcdfr'

In [77]:
'AbCd'.swapcase()

'aBcD'

In [78]:
'apple'.capitalize()

'Apple'

*Above are some string methods. which does what method name suggests*

In [79]:
'abc'.isdigit()

False

In [80]:
'123'.isdigit()

True

In [81]:
'a29'.isdigit()

False

*Above three string methods checks for certain condition. in this case, if given string is a digit.*

## Mathematical Operations
---

### Addition ( + operator )
---

$int + int = int$

In [82]:
1 + 2

3

$float + int = float + float(int) = float$

In [83]:
1.5 + 2

3.5

$int + bool = int + int(bool) = int$

In [84]:
1 + True

2

$float + bool = float + float(bool) = float$

In [85]:
1.5 + True

2.5

In [86]:
1 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [87]:
1 + int('2')

3

*We need to explicity change a string to integer ourselves, in this case.*

In [88]:
'a' + 'bc'

'abc'

*This is concatenation ie joining of two strings together.*

In [89]:
1.5 + (1 + 4j)

(2.5+4j)

In [90]:
(1 + 2j) + (3 + 5j)

(4+7j)

In [91]:
b'a' + b'bc'

b'abc'

## Substraction ( - ), Multiplication ( * ), Division ( / or // )
---

### Real Division

In [92]:
3 / 2

1.5

In [93]:
4.8 / 4

1.2

In [94]:
2 / 5.9

0.3389830508474576

### Integer Division

In [95]:
3 // 2

1

In [96]:
4.8 // 4

1.0

In [97]:
2 // 5.9

0.0

*Note: Here some of the above answers are return as __float__ this is beacuse one of the operand is __float__, in that case it will try to cast result into __float__.*

*Notice, that result return by __real__ division and __integer__ division are not same, for same operands.*

### Repitition

In [98]:
'a' * 3

'aaa'

In [99]:
'hello ' * 5

'hello hello hello hello hello '

**H/W try all the combinations**

### Power ( ** )
---

$2^3$

In [100]:
2 ** 3

8

### String slicing

In [101]:
address = 'Kathmandu-4, Bagmati'

In [102]:
len(address)

20


**string indexes**

| K   | a   | t   | h   | m   | a   | n   | d   | u   | -   | 4   | ,  |    | B  | a  | g  | m  | a  | t  | i  |
|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|----|----|----|----|----|----|----|----|----|
| 0   | 1   | 2   | 3   | 4   | 5   | 6   | 7   | 8   | 9   | 10  | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 |
| -20 | -19 | -18 | -17 | -16 | -15 | -14 | -13 | -12 | -11 | -10 | -9 | -8 | -7 | -6 | -5 | -4 | -3 | -2 | -1 |

In [103]:
address[0]

'K'

*get from index, identified as number*

In [104]:
address[1]

'a'

In [105]:
address[13]

'B'

In [106]:
address[20]

IndexError: string index out of range

*negative index is counted backward, -1 is last character in string*

In [107]:
# get last item
address[-1]

'i'

In [108]:
# get 7th item from last
address[-7]

'B'

In [109]:
address[-20]

'K'

**Get chunck of string**

In [110]:
# get all from 0th item to last item
address[:]

'Kathmandu-4, Bagmati'

In [111]:
# get from index 2 to last item
address[2:]

'thmandu-4, Bagmati'

In [112]:
# get from index 0 to index 4 [ 5 is excluded ]
# can be called as 0 upto 5
address[:5]

'Kathm'

*start of slice is inclusive and end of slice is exclusive*

In [113]:
address[3:7]

'hman'

*step defines which item to get after getting first item*

In [114]:
address[3:15]

'hmandu-4, Ba'

In [115]:
address[3:15:1]

'hmandu-4, Ba'

*default value of step is 1*

In [116]:
address[3:15:2]

'had-,B'

*empty end with step value is defined as*

In [117]:
address[3::2]

'had-,Bgai'

In [118]:
address[::2]

'Ktmnu4 amt'

In [119]:
address

'Kathmandu-4, Bagmati'

In [120]:
# start as negative and end as positive value
address[-3:7]

''

*negative step moves window from right to left*

In [121]:
address[-3:7:-1]

'amgaB ,4-u'

In [122]:
address[-15:-7]

'andu-4, '

In [123]:
address[::-1]

'itamgaB ,4-udnamhtaK'

**H/W work on string slicing more**

*Note:* we will have discussions about methods and attributes later

Resources

- http://learnpython.org

- http://www.diveintopython3.net/

- http://www.pythontutor.com