# Session 1
---

[Reference](http://nbviewer.jupyter.org/github/idwaker/pysessions/blob/master/Python/Beginner/unit-01-datatypes-reference.ipynb)

**Sum of two numbers**

In [1]:
# lets add two numbers 72 and 67
a = 72
b = 67
sum_of_addition = a + b
print(sum_of_addition)

139

*Review ( line by line )*

1. we assign __72__ to __a__
    - __a__ is _name_ we assign to 72, which is generally called as _variable_
2. similarly we assign __67__ to __b__
3. we add __a__ and __b__, and assign result to __sum\_of\_addition__
4. finally we are displaying result using __print__ function
    - [reference to print function]()

In [2]:
# two floats
1.7 + 5.6

7.3

In [3]:
# one integer , one float
1.8 + 6

7.8

### Substract two numbers

**H/W**

### Divide two numbers

In [4]:
# real division
2 / 3

0.6666666666666666

In [5]:
# integer division
2 // 3

0

In [6]:
2.3 // 3

0.0

In [7]:
2.3 / 3

0.7666666666666666

In [8]:
2.3 // 3.1

0.0

In [9]:
5 / 2

2.5

### Remainder / Modulo

In [10]:
5 % 2

1

In [11]:
# even value

4 % 2 == 0

True

### Multiplication

In [12]:
2 * 3

6

In [13]:
2.5 * 5

12.5

### Power

In [14]:
# square of 3
3 ** 2

9

In [15]:
# power of three
3 ** 3

27

### Boolean

In [17]:
True

True

In [18]:
False

False

### Complex numbers

In [19]:
2 + 7j

(2+7j)

In [20]:
1 + 5j + 6 + 8j

(7+13j)

In [21]:
1 + 5j + 8j + 6

(7+13j)

In [22]:
(1 + 5j) + (6 + 8j)

(7+13j)

In [23]:
(1 + 5j) - (6 + 8j)

(-5-3j)

### Strings

In [24]:
# single line string
'This is a simple string'

'This is a simple string'

In [25]:
"This is another string"

'This is another string'

In [26]:
# multi line string
"""
this is multiline
 string with spaces.
"""

'\nthis is multiline\n string with spaces.\n'

In [27]:
'This is a 
simple string'

SyntaxError: EOL while scanning string literal (<ipython-input-27-dfb23992261e>, line 1)

In [28]:
'''
this is same as double-quoted triple
quote string
'''

'\nthis is same as double-quoted triple\nquote string\n'

#### Concatenation

In [29]:
'a string ' + 'added together'

'a string added together'

#### Repetition

In [30]:
'hello world ' * 3

'hello world hello world hello world '

In [31]:
'hello world ' * 3.0

TypeError: can't multiply sequence by non-int of type 'float'

**H/W** Use other operators with string

## Simple Problems

- [http://codingbat.com/prob/p182144](http://codingbat.com/prob/p182144)

In [34]:
# Hi, Bye -> HiByeByeHi

# we are defining names for each words
first_word = 'Hi'
second_word = 'Bye'

final_word = first_word + second_word * 2 + first_word
print(final_word)

HiByeByeHi

In [35]:
# using string formatting
print("Result is '{}'".format(final_word))

Result is 'HiByeByeHi'

In [36]:
# solution 1
"Result is '" + final_word + "'"

"Result is 'HiByeByeHi'"

In [37]:
# solution 2
"Result is '%s'" % (final_word,)

"Result is 'HiByeByeHi'"

In [39]:
# solution 3
"Result is '{}'".format(final_word)

"Result is 'HiByeByeHi'"

In [41]:
# Name, Age, Year -> You will be 100 on year 2056

name = 'Python'
age = 25
year = 2016

hundredth_year = (100 - age) + year

notice = "Hello {}, You are {} in {} and You will be 100 on {}"

print(notice.format(name, age, year, hundredth_year))

Hello Python, You are 25 in 2016 and You will be 100 on 2091

In [42]:
notice = """Hello {name}, 
You are {age} in {year} and You will be 100 on {hundredth}"""

In [43]:
notice.format(
    name='Ruby',
    age=23,
    year=2016,
    hundredth=(100 - 23) + 2016
)

'Hello Ruby, \nYou are 23 in 2016 and You will be 100 on 2093'

In [45]:
notice.format(
    year=2016,
    hundredth=(100 - 5) + 2016,
    name='Rust',
    age=5
)

'Hello Rust, \nYou are 5 in 2016 and You will be 100 on 2111'

In [47]:
age = 7
notice.format(
    year=year,
    hundredth=(100 - age) + year,
    name='Go',
    age=age
)

'Hello Go, \nYou are 7 in 2016 and You will be 100 on 2109'

[See More](http://nbviewer.jupyter.org/github/idwaker/pysessions/blob/master/Python/Beginner/unit-01-datatypes-reference.ipynb#String-formatting) for string formatting

### String Slicing

[string slicing reference](vhttp://nbviewer.jupyter.org/github/idwaker/pysessions/blob/master/Python/Beginner/unit-01-datatypes-reference.ipynb#String-slicing)

In [48]:
address = 'Kathmandu, Nepal'

# first char of address
print("First Char: ", address[0])

# length of address
print("Length: ", len(address))

# last char of address
print("Last Char: ", address[len(address) - 1])

First Char:  K
Length:  16
Last Char:  l

In [49]:
# last char of address
print("Last Char revised: ", address[-1])

Last Char revised:  l

address[start:end]

In [50]:
print("First two chars: ", address[0:2])

First two chars:  Ka

In [51]:
# start index defaults to 0
print("First two chars: ", address[:2])

First two chars:  Ka

address[start:end:step]

In [52]:
print("First two chars skipped once: ", address[0:4:2])

First two chars skipped once:  Kt

In [56]:
print("First four chars backwards: ", address[0:4:-1])

First four chars backwards:

In [57]:
print("First four chars backwards: ", address[4:0:-1])

First four chars backwards:  mhta

In [58]:
print("Whole string: ", address[:])

Whole string:  Kathmandu, Nepal

In [59]:
print("Whole string backwards: ", address[::-1])

Whole string backwards:  lapeN ,udnamhtaK