# Unit 01
---

Date: 2017-02-09

In [1]:
# sum_square

In [2]:
# sum_sqaure -> calculate square of sum of two numbers
54 + 73

127

**+** is addition operator

In [3]:
127 ** 2

16129

__\*\*__ is power operator

In [4]:
first_num = 59
second_num = 87

**first_num** and **second_num** are called a *variable*

In [5]:
square_of = (first_num + second_num) ** 2

In [6]:
print(square_of)

21316

In [7]:
# 3.14 is a float
pi = 3.14

In [8]:
area_of_circle = 2 * pi * (3 ** 2)

In [9]:
print(area_of_circle)

56.52

Python automatically converts **integers** ( like *2* and *3* above )
to **float** ( like *3.14* )

Such conversions are called type conversion ( or *type casting* )

In [10]:
name = 'Harry Potter'

In [11]:
address = "London"

In [12]:
name + address

'Harry PotterLondon'

adding two strings together is called **Concatenation**

In [13]:
name * address

TypeError: can't multiply sequence by non-int of type 'str'

In [14]:
name * 4

'Harry PotterHarry PotterHarry PotterHarry Potter'

Incase of string __*__ is called *Repitition operator*

In [15]:
name * 2.3

TypeError: can't multiply sequence by non-int of type 'float'

In [16]:
78 - 90

-12

In [17]:
30 - 12.2

17.8

In [18]:
# Division
2 / 3

0.6666666666666666

- Real Division

In [19]:
2 // 3

0

- Integer Division

In [21]:
2.0 // 3

0.0

In [22]:
float(2)

2.0

- Explicit conversion

In [23]:
int(3.9)

3

In [24]:
str(2)

'2'

Remainder Operator

In [26]:
8 % 3

2

**H/W**
- Addition
- Substraction
- Division 
    - Float
    - Integer
- Remainder
- Power